<ion-app>
  <ion-header>
    <ion-toolbar color="clear"></ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <section>
      <h2>Reload Unyti</h2>
      <ion-button 
        [disabled]="loading"
        size="large"
        fill="outline"
        shape="rounded"
        color="primary"
        (click)="reload()">
        <span *ngIf="!loading">Reload</span>
        <ion-spinner *ngIf="loading" color="primary"></ion-spinner>
      </ion-button>
    </section>
  </ion-content>
</ion-app>